@model List<Item>
@{}

<header>
    <img src="/img/logob.png"></img>

    <!--<div class="d-flex justify-content-center">
    <a class="button-1" asp-controller="Itens" asp-action="Create" role="button">
        Adicionar Novo Item
    </a>
    </div>

    <div class="d-flex flex-row justify-content-center mt-2">
        <a class="button-1" asp-controller="Itens" asp-action="AddXAll" role="button">
            Adicionar 1X All Lendários
        </a>

        <a class="button-1" asp-controller="Itens" asp-action="SubXAll" role="button">
            Diminuir 1X All Lendários
        </a>
    </div>
        -->
    <div class="d-flex justify-content-center">
        <a asp-controller="Itens" asp-action="Create">
            <button class="button button--pan"><span>Adicionar Novo Item</span></button>
        </a>
    </div>

    <div class="d-flex flex-row justify-content-center mt-2">
        <a asp-controller="Itens" asp-action="AddXAll">
            <button class="button button--bestia">
                <div class="button__bg"></div><span>Adicionar 1X All Lendários</span>
            </button>
        </a>

        <a asp-controller="Itens" asp-action="SubXAll">
            <button class="button button--bestia">
                <div class="button__bg"></div><span>Diminuir 1X All Lendários</span>
            </button>
        </a>
    </div>
</header>

    <div class="bar col-md-8 mx-auto">
        <form class="search-bar d-flex mx-auto" asp-action="Index" asp-controller="Itens">
            <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" value="@ViewData["CurrentFilter"]">
            <button class="btn btn-dark" type="submit">Pesquisar</button>
        </form>
    </div>

    <div class="mx-auto col-md-6">
        <a asp-action="Index" class="mx-auto text-dark">Ver todos os itens</a>
    </div>


<p class="erro mt-2 d-flex justify-content-center">@TempData["Erro"]</p>

<div class="container mt-0">

    @foreach (var item in Model){

        var classeCor = "";
        if (item.Raridade == "Lendário") classeCor = "lendario";
        else if (item.Raridade == "Épico") classeCor = "epico";
        else if (item.Raridade == "Raro") classeCor = "raro";
        else if (item.Raridade == "Comum") classeCor = "comum";

        <div class="card">
            <div class="etiqueta @classeCor"></div>

        <a href="/Itens/Edit/@item.Id" class="botaoEditar">
            <img src="/img/edit.png" alt="Editar" width="20">
        </a>

          <!-- <a class="botaoDeletar" asp-controller="Itens" asp-action="Delete"
                asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">
                <img src="/img/trash.png" width="20">
              </a> -->
        
        <div class="img mb-1">
            <img src="/itens/@item.ImageFileName" width="60">
        </div>

        <h1 class="mb-0">@item.Nome</h1>

            <div class="content">
                <p class="mt-0 mb-1">
                    R$ @item.Preco
                </p>
                <div class="display">
                    <a href="javascript:void(0)" onclick="diminuirUnidade(@item.Id)">-</a>
                    <p id="quantidade-@item.Id">@item.Quantidade</p>
                    <a href="javascript:void(0)" onclick="aumentarUnidade(@item.Id)">+</a>
                </div>
            </div>
        </div>
    }
</div>
